Babel
google-cloud-datastore==2.10.0
humanize
img2pdf
Logbook
matplotlib
ocrmypdf
pdfCropMargins
pdf2image
pdfminer.six
python-dotenv
python-telegram-bot==20.4
Pillow
PyPDF2
requests
slackclient
textblob
WeasyPrint
git+https://github.com/zeshuaro/noteshrink.git#egg=noteshrink
git+https://github.com/zeshuaro/pdf-diff#egg=pdf_diff
