name: Check Stale Pulls and Issues

on:
  schedule:
  - cron: '29 12 * * *'

jobs:
  stale:

    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
    - uses: actions/stale@v10
      with:
        repo-token: ${{ secrets.GIT_HUB_TOKEN }}
        stale-issue-message: 'This issue has been automatically closed due to inactivity. Feel free to comment in order to reopen.'
        stale-pr-message: 'This Pull Request has been automatically closed due to inactivity. Feel free to reopen.'
        stale-issue-label: 'Auto-Closed'
        stale-pr-label: 'Auto-Closed'
